/**
 * Created by Eunjin Yang on 2019. 3. 18.
 * Github : http://github.com/jinny920311
 */

 
$primary: #ffffff;
$black: #141414;
$white: #ffffff;
$blue: #3e3ede;
$grey: #999999;
$lgrey: #a9a9a9;
$red: #f74242;
$border: #e7e7e7;
$green: #09a7b4;
$orange: #e17f09;

//font
$korea: 'Spoqa Han Sans', sans-serif, 'Malgun Gothic', '맑은 고딕';
